<h2>Documentation</h2>
	
<ul>
	<li><a href="<?php echo $_SERVER['PHP_SELF']; ?>?path=/">Index</a></li>
	
	<?php foreach ($RAML->getChildPaths('/') as $endpoint => $resource) { ?>
	<li><a href="<?php echo $_SERVER['PHP_SELF']; ?>?path=<?php echo $endpoint; ?>"><?php echo $endpoint; ?></a></li>
	<?php } ?>
</ul>

<p>&nbsp;</p>

<h2>
SUPERNOVA
</h2>


